# Exclude HTML from language stats (it's just structure/markup, not the highlight)
*.html linguist-documentation=true

# Make JS and CSS count
*.js linguist-detectable=true
*.css linguist-detectable=true
